/* Адаптация под планшеты устройства */
@media (max-width: 768px){

    .navbar{
    flex-direction: row-reverse;
    }

    .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 100%;
    }

    .nav-links li{
    margin: 15px;
    }

    .doker-span.active{
    left: 78%;
    }

    .nav-links.active {
    display: flex;
    align-items: center;
    top: 8%;
    left: 0;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .burger {
    display: flex;
    }

    .home{
    flex-direction: column;
    }

    .left-home {
    text-align: center;
    width: 100%;
    padding: 10px;
    }

    .left-home div{
    margin: 0px;
    }

    .left-home p {
    font-size: 18px;
    }

    .right-home{
    text-align: center;
    padding: 10px;
    }

    .item-doker{
    flex-direction: column;
    }

    .item-cont-images{
    text-align: center;
    width: 100%;
    margin: 10px
    }

    .item-images {
    max-width: 90%;
    height: auto;
    }

    .item-info {
    text-align: center;
    width: 95%;
    padding: 10px;
    }

    .item_name{
    justify-content: center;2
    }

    .item_title{
    width: 100%;
    padding: 10px;
    line-height: 30px;
    }

    .item_inader{
    white-space: pre-wrap;
    line-height: 30px;
    }

    .contact-dok{
    flex-direction: column;
    }

    .cont-maps{
    text-align: center;
    width: 100%;
    margin: 10px;
    }

    .img-cont{
    max-width: 100%;
    height: auto;
    }

    .cont-info{
    text-align: center;
    width: 95%;
    padding: 10px;
    }

    .cont-info p{
    margin: 0px;
    line-height: 40px;
    }
}

@media (max-width: 1024px) and (min-width: 769px){
    .doker-span.active{
    left: 86%;
    }
}

@media (max-width: 426px){
    .doker-span.active{
    left: 60%;
    }
}

@media (max-width: 375px){
    .doker-span.active{
    left: 54%;
    }
}