/* Адаптация под планшеты устройства */
@media (max-width: 768px){
    .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 100%;
    }

    .nav-links li{
    margin: 15px;
    }


    .nav-links.active {
    display: flex;
    align-items: center;
    }

    .burger {
    display: flex;
    }

    .home{
    flex-direction: column;
    }

    .left-home{
    text-align: center;
    width: 100%;
    padding: 10px;
    }

    .left-home p {
    font-size: 18px;
    }

    .right-home{
    text-align: center;
    width: 100%;
    padding: 10px;
    }

}