.cat-cont {
    display: flex; /* Используем flexbox для размещения карточек в строку */
    flex-wrap: wrap; /* Позволяем карточкам переноситься на новую строку, если не хватает места */
    gap: 30px; /* Отступы между карточками */
    justify-content: space-around; /* Выравнивание карточек по началу контейнера */
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}



.cat-c {
    text-align: center;
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    border: 1px solid #ddd; /* Рамка вокруг карточки */
    border-radius: 10px; /* Закругление углов карточки */
    overflow: hidden; /* Скрытие содержимого, выходящего за рамки карточки */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень под карточкой */
    transition: transform 0.3s; /* Плавный эффект при наведении */

}

.cat-c:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.cat-im {
    text-align: center;
    width: 260px; /* Фиксированная ширина для изображения */
    height: 300px; /* Фиксированная высота для изображения */
    object-fit: cover; /* Обеспечивает обрезку изображения, чтобы заполнить контейнер */
}


.cat-in {
    padding: 15px; /* Отступ внутри карточки */
    text-align: center; /* Центрируем текст */
}

.cat-na {
    font-size: 1.25em; /* Размер шрифта для названия */
    margin: 0; /* Убираем отступы по умолчанию */
}



