.contact-dok {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    /* Центрирование по вертикали */
    height: 90vh;
    margin: 40px 0px;
}

.cont-info{

}


.info {
    display: flex;
}

.block {
    width: 200px; /* Ширина каждого блока */
    height: 100px; /* Высота каждого блока */
    margin: 50px; /* Отступы между блоками */
    background-color: #f0f0f0; /* Цвет фона блоков */
    border: 1px solid #ccc; /* Обводка блоков */
    display: flex; /* Используем флексбокс для центрирования содержимого */
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-content: center; /* Центрируем содержимое по горизонтали */
}