.contact-dok {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 40px 0px;
    }

.cont-maps{
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.img-cont{
    max-width: 100%;
    height: auto;
    }

.cont-info{
    padding: 10px;
    flex: 1;
    width: 630px;
    height: 435px;
    background: ghostwhite;
    }

.cont-info h1{
    display: flex;
    justify-content: center;
    }

.cont-info p{
    line-height: 40px;
    margin-left: 30px;
}
.color-one{
    font-weight: 600
}
.cont-info a{
    color: black;
    margin-left: 30px;
    }