.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.left-home{
    flex: 1;
    padding: 20px;
    border-radius: 20px;
}

.left-home div{
    margin-bottom: 25px;
    font-size: 24px;
}

.img-left{
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
}

.left-home p{
    font-size: 19px; /* Кегиль */
    line-height: 2; /* Расстояние между словами вертикально */
}

.right-home{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-home{
    max-width: 100%;
    height: auto;
}
