.item-doker {
    display: flex;
    align-items: center;
    margin: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-cont-images {
    flex: 0 0 40%; /*Фиксированная ширина для изображения (40% от контейнера) */
    padding: 10px;
    }


.item-images {
    max-width: 100%;
    height: auto;
}

.item-info {
    flex: 1;
    padding: 40px;
    background: ghostwhite;
}

.item_name {
    font-size: 36px;
    color: #333;
    height: 3em;
    display: flex;
    align-items: center;
}

.item_title {
    font-size: 20px;
    color: black;
    margin: 70px 0;
    white-space: break-spaces;
}

.item_inader{
    margin: 70px 0;
    white-space: pre-wrap;
    line-height: 30px;
}

