.product-container {
    display: flex; /* Используем flexbox для размещения карточек в строку */
    flex-wrap: wrap; /* Позволяем карточкам переноситься на новую строку при необходимости */
    gap: 30px; /* Отступы между карточками */
    justify-content: space-around; /* Выравнивание карточек по началу контейнера */
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px; /* Ширина карточки */
    width: calc(28% - 25px); /* Три карточки в строке с учетом отступов */
    margin: 37px; /* Отступы между карточками */
    transition: transform 0.2s; /* Эффект при наведении */
}

.product-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.pro-img {
    text-align: center;
    width: 260px; /* Фиксированная ширина для изображения */
    height: 300px; /* Фиксированная высота для изображения */
    object-fit: cover;
}

.product-info {
    padding: 16px; /* Отступы внутри карточки */
}

.product-name {
    font-size: 1.5em; /* Размер шрифта для названия */
    margin: 0; /* Убираем отступы по умолчанию */
    text-align: center; /* Выравнивание текста по правой стороне */
}

.product-description {
    font-size: 1em; /* Размер шрифта для описания */
    color: #666; /* Цвет текста */
    text-align: right; /* Выравнивание текста по правой стороне */
}

.product-price {
    font-size: 1.25em; /* Размер шрифта для цены */
    color: #333; /* Цвет текста для цены */
    margin: 10px 0; /* Отступы вокруг цены */
    text-align: right; /* Выравнивание текста по правой стороне */
}

.buy-button-container{
    display: grid;
}

.buy-button {
    background-color: #28a745; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменение курсора при наведении */
    font-size: 1em; /* Размер шрифта для кнопки */
}

.buy-button:hover {
    background-color: #218838; /* Темнее при наведении */
}