/* Общие стили для шапки */
header {
    background-color: #FFFFFF; /* Белый фон */
    padding: 20px; /* Отступы вокруг содержимого */
    color: black; /* Черный цвет текста */
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: flex-end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 40px;
}

.doker-span{
    display: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0;
}


.doker-global {
    display: flex;
    margin-left: 3em;
}