{% extends "base.html" %}

{% block title %} Ассортимент - Plaisir {% endblock %}

{% block content %}


<div class="cat-cont">
    {% for one_category in category %}
    <div class="cat-c">
        <a href="/category/{{one_category.id}}/items">
            <img src="{{ one_category.images_url }}{{ one_category.images_id }}.jpg" alt="Product Image" class="cat-im">
        </a>

        <div class="cat-in">
            <a href="/category/{{one_category.id}}/items">
                <h2 class="cat-na">{{ one_category.name }}</h2>
            </a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
