{% extends "base.html" %}

{% block title %} Plaisir {% endblock %}

{% block content %}
<div class="contact-dok">
    <div class="cont-maps">
        <img class="img-cont" src="/static/images/maps-to-plaisir.jpg">
    </div>
    <div class="cont-info">
        <h1 style="font-weight: bold; font-size: 36px;">Контактные данные</h1>
        <p>Мы с радостью ответим на все ваши вопросы, расскажем и подскажем.<br>Пожалуйста, пишите в личные сообщения аккаунта Instagram.</p>
        <a href="https://www.instagram.com/plaisir_lublin/"><span class="color-one">Instagram:</span> @plaisir_lublin</a>
        <p><span class="color-one">Часы работы:</span><br>ср-пт 10:00–15:00<br>сб-вс 11:00–15:00</p>
        <p><span class="color-one">Адрес:</span><br>Krakowskie Przedmieście 26</p>

    </div>
</div>

{% endblock %}