{% extends "base.html" %}

{% block title %} Контакт - Plaisir {% endblock %}

{% block content %}
<div class="contact-dok">
    <div class="cont-maps">
        <img class="img-cont" src="/static/images/maps-to-plaisir.jpg">
    </div>
    <div class="cont-info">
        <h1 style="font-weight: bold; font-size: 36px;">Dane kontaktowe</h1>
        <p>Chętnie odpowiemy na wszystkie Twoje pytania, opowiemy i podpowiemy.<br>Proszę pisać na prywatne wiadomości na koncie Instagram.</p>
        <a href="https://www.instagram.com/plaisir_lublin/"><span class="color-one">Instagram:</span> @plaisir_lublin</a>
        <p><span class="color-one">Godziny otwarcia:</span><br>ср-пт 10:00–15:00<br>сб-вс 11:00–15:00</p>
        <p><span class="color-one">Adres:</span><br>Krakowskie Przedmieście 26</p>

    </div>
</div>

{% endblock %}