{% extends "base.html" %}

{% block title %} Plaisir {% endblock %}

{% block content %}
<div class="contact-dok">
    <div class="cont-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d214.83429288010203!2d22.563293152462727!3d51.247423684436676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472257f8164eee95%3A0xb045041d0033117e!2sPlaisir!5e0!3m2!1sru!2spl!4v1722197207529!5m2!1sru!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="cont-info">
        <h1 style="font-weight: bold; font-size: 36px; margin-left:47px;">КОНТАКТЫ</h1>

        <div class="info">
            <div class="block">
                Адрес:<br>
                <br>Krakowskie Przedmieście 26
            </div>
            <div class="block">
                Часы работы:<br>
                <br>ср-пт 10:00–15:00<br>сб-вс 11:00–15:00
            </div>
        </div>
        <div class="info">
            <div class="block">
                Что-то
            </div>
            <div class="block">
                Instagram:<br>
                <br>@plaisir_lublin
            </div>
        </div>
        </div>

    </div>

</div>

{% endblock %}