{% extends "base.html" %}
{% block title %} Главная {% endblock %}

{% block content %}

<div class="home">
    <div class="left-home">
        <div>Кондитерская</div>
        <img class="img-left" src="static/images/logo2.png">
        <p>Наши макаронки и торты самые лучшие в городе. <br>Все продукты изготовлены из натуральных ингредиентов без ароматизаторов, красителей и консервантов. </p>
    </div>

    <div class="right-home">
        <img class="img-home" src="static/images/tort-home1.png">

    </div>
</div>

{% endblock %}

