{% extends "base.html" %}
{% block title %} Главная - Plaisir{% endblock %}

{% block content %}

<div class="home">
    <div class="left-home">
        <!--<div>Cukiernia</div>-->
        <img class="img-left" src="static/images/logo-done3.png">
        <!--<p>Nasze makarony i ciasta są najlepsze w mieście. <br>Wszystkie produkty są wykonane z naturalnych składników bez aromatów, barwników i konserwantów.</p>-->
    </div>

    <!--<div class="right-home">
        <img class="img-home" src="static/images/tort-home1.png">

    </div> -->
</div>

{% endblock %}

