{% extends "base.html" %}

{% block title %} Plaisir {% endblock %}

{% block content %}

{% if only_one_item_id %}
<div class="item-cont">
    <div class="item-cont-images"> <!-- Отображаем фотографии товара -->
         <img src="{{ only_one_item_id.images_url }}{{ only_one_item_id.name }}.jpg" alt="Product Image" class="item-images">
    </div>

    <div class="item-info">
        <h1>{{ only_one_item_id.name }}</h1>  <!-- Отображаем имя товара -->
        <p>{{ only_one_item_id.description }}</p> <!-- Отображаем описания товара -->
        <p>only_one_item_id.innader_info</p> <!-- Отображаем доп информации товара -->
        <p>{{ only_one_item_id.price }}</p> <!-- Отображаем цены товара -->
    </div>

   {% else %}
       <p>Товар не найден.</p>
</div>
{% endif %}


{% endblock %}