{% extends "base.html" %}

{% block title %} Plaisir {% endblock %}

{% block content %}

<div class="item-cont">
   {% if only_one_item_id %}
    <div> <!-- Отображаем фотографии товара -->
         <img src="{{ only_one_item_id.images_url }}{{ only_one_item_id.name }}.jpg" alt="Product Image" class="product-image">
    </div>

    <div>
        <h1>{{ only_one_item_id.name }}</h1>  <!-- Отображаем имя товара -->
        <p>{{ only_one_item_id.description }}</p> <!-- Отображаем описания товара -->
        <p>only_one_item_id.innader_info</p> <!-- Отображаем доп информации товара -->
        <p>{{ only_one_item_id.price }}</p> <!-- Отображаем цены товара -->
    </div>

   {% else %}
       <p>Товар не найден.</p>
   {% endif %}
</div>


{% endblock %}