{% extends "base.html" %}

{% block title %} Ассортимент {% endblock %}

{% block content %}

    <div class="cat-cont">
        {% for one in only_one_category %}
    <div class="cat-c">
        <a href="/category/{{one.category_id}}/items/{{one.id}}">
            <img src="{{one.images_url}}{{one.images_id}}.jpg" alt="Product Image" class="cat-im">
        </a>

        <div class="cat-in">
            <a href="/category/{{one.category_id}}/items/{{one.id}}">
                <h2 class="cat-na">{{ one.name }}</h2>
            </a>

            {% if one.category_id == 1 %}
            <div class="cat-cena">
                1 кг    |    {{ one.price }} zł
            </div>
            {% else %}
            <div class="cat-cena">
                {{ one.price }} zł
            </div>
            {% endif %}

        </div>
    </div>
            {% endfor %}
    </div>

{% endblock %}
